<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
        <div class="mb-3">        
          <%= form.label :name, class:"form-label h6"  %>
        <%= form.text_field :name , class:"form-control"  ,placeholder:"write the name" %>
        </div>
        <div class="field">
          <%= form.label :position, class:"form-label h6"  %>
          <%= form.text_field :position , class:"form-control",placeholder:"write the position" %>
        </div>

        <div class="field">
          <%= form.label :employee_number, class:"form-label h6" %>
          <%= form.number_field :employee_number, class:"form-control", placeholder:"write the employee númber"  %>
        </div>

        <div class="field">
          <%= form.label :private_number,class:"form-label h6"  %>
          <%= form.number_field :private_number, class:"form-control",placeholder:"write the private númber"  %>
        </div>

        <div class="actions">
          <%= form.submit class:"btn btn-primary float-end col-md-1.9" %>
        </div> <% end %>
  </div>
</div>
